body {
    margin: 0;
    padding: 0;
    font-family: "Pathway Extreme", sans-serif;
    background: linear-gradient(#48464d, #262229);
    color: #cccccb;
}
p {
    margin: 0;
}
#root {
    display: flex;
    justify-content: center;
}
.App {
    padding: 1rem;
}
.p-svg-container {
    display: flex;
    align-items: center;
    gap: 3px;
}
.education-wrapper {
    margin: 1rem 0;
}
.downArrow {
    transform: rotate(90deg);
}

.basic-information {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #fff;
    color: #000;
}

.basicInfoInput {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 0.5rem;
}

.basicInfoInput:focus {
    outline: none;
    border-bottom: 2px solid #2ec27e;
}

#summaryInput {
    border: none;
    border-bottom: 1px solid #000;
    resize: none;
    padding: 0.5rem;
    padding-bottom: 2rem;
}

#summaryInput:focus {
    outline: none;
    border-bottom: 2px solid #2ec27e;
}

.education form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.3rem;
    border-radius: 1rem;
    background-color: #fff;
    padding: 2rem;
    color: #000;
}

.educationInput {
    border: none;
    padding: 0.5rem;
    border-bottom: 1px solid #000;
    width: 218px;
}

.educationInput:focus {
    outline: none;
    border-bottom: 2px solid #2ec27e;
}

.addEducation {
    padding: 1rem;
    width: 70%;
    border: none;
    border-radius: 2rem;
    align-self: center;
    margin-top: 0.7rem;
    background-color: #2ec27e;
    font-size: 16px;
    font-weight: 500;
}
.showEducation {
    background-color: unset;
    border: none;
    width: 30px;
}

.experience-wrapper {
    margin: 1rem 0;
}

.experience form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.3rem;
    border-radius: 1rem;
    background-color: #fff;
    padding: 2rem;
    color: #000;
}

.addExperience {
    padding: 1rem;
    width: 70%;
    border: none;
    border-radius: 2rem;
    align-self: center;
    margin-top: 0.7rem;
    background-color: #2ec27e;
    font-size: 16px;
    font-weight: 500;
}

.experienceInput {
    border: none;
    padding: 0.5rem;
    border-bottom: 1px solid #000;
    width: 218px;
}

.experienceInput:focus {
    outline: none;
    border-bottom: 2px solid #2ec27e;
}

#achievmentsInput {
    border: none;
    resize: none;
    border-bottom: 1px solid #000;
    padding: 0.5rem;
    padding-bottom: 2rem;
    width: 218px;
}

#achievmentsInput:focus {
    outline: none;
    border-bottom: 2px solid #2ec27e;
}

#experienceAchievmentsEdit {
    border: none;
    resize: none;
    border-bottom: 1px solid #000;
    padding: 0.5rem;
    padding-bottom: 2rem;
    width: 218px;
}

#experienceAchievmentsEdit:focus {
    outline: none;
    border-bottom: 2px solid #2ec27e;
}

.showExperience {
    width: 30px;
    background-color: unset;
    border-style: none;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.removeEducationElem {
    padding: 0.5rem 0;
    background-color: #ad380a;
    border: none;
    font-weight: 600;
    border-radius: 1rem;
    color: #cccccb;
}

.editEducationElem {
    padding: 0.5rem 0;
    background-color: #2ec27e;
    border-radius: 1rem;
    border-style: none;
    font-weight: 600;
}

.line {
    border: 1px solid #cccccb;
    margin: 0.5rem 0;
}

.editExperienceElem {
    padding: 0.5rem 0;
    background-color: #2ec27e;
    border-radius: 1rem;
    border-style: none;
    font-weight: 600;
}

.removeExperienceElem {
    padding: 0.5rem 0;
    background-color: #ad380a;
    border: none;
    font-weight: 600;
    border-radius: 1rem;
    color: #cccccb;
}

.education-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.education-container p {
    font-size: 26px;
}

.experience-container p {
    font-size: 26px;
}

.schoolElement {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #939197;
}

.experience-container {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.CV-educationTitle {
    color: #d46c2c;
    font-weight: 600;
}

.CV-experiencePosition {
    color: #d46c2c;
    font-weight: 600;
}

.CV-Summary {
    max-width: 308px;
}

.experienceElement {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #939197;
}

.CV-Name {
    font-size: 26px;
    margin: 1rem 0;
}

.CV-Summary {
    margin: 1rem 0;
}

.CV-Phone {
    display: flex;
    align-items: center;
    gap: 3px;
}

.CV-Email {
    display: flex;
    align-items: center;
    gap: 3px;
}

.editModal {
    background-color: #000000b0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editModal form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    color: #000;
}

.editModal form button {
    padding: 0.5rem;
    background-color: #2ec27e;
    font-weight: 600;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 1280px) {
    .App {
        flex-grow: 1;
        display: grid;
        grid-template-rows: 90px 640px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        max-width: 1080px;
    }
    .basic-information {
        grid-row: 2/3;
        justify-content: space-around;
    }
    .education-container {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .experience-container {
        grid-row: 2/3;
        grid-column: 3/3;
    }
    .overview-container {
        grid-row: 3;
        grid-column: span 3;
    }
    .experience-container {
        margin: 0;
    }
}
